{
  "presets": [
    ["env", {
      "modules": false,
      "targets": {
        "browsers": ["> 1%", "last 2 versions", "not ie <= 8"]
      }
    }],
    "stage-2"
  ],
  // "presets": ["@babel/preset-env"],
  // "plugins": ["transform-runtime", "react-html-attrs", ["import", { "style": "css", "libraryName": "antd-mobile" }]],
  "plugins": ["transform-vue-jsx", "transform-runtime",
    // "plugins": ["@babel/plugin-transform-runtime","@babel/plugin-proposal-class-properties",
    ["import", {
      "libraryName": "mand-mobile",
      "libraryDirectory": "lib"
    }]
  ],
  "env": {
    "test": {
      "presets": ["env", "stage-2"],
      "plugins": ["transform-vue-jsx", "transform-es2015-modules-commonjs", "dynamic-import-node"]
    }
  }
}
